body {
    background-color: #f0f7f8;
    font-family: hanken;
}

.div1 {
    display: grid;
    background: linear-gradient(to bottom, #6743ff 0%, #312cea 100%);
    text-align: center;
    border-radius: 25px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
    z-index: 2;
}

.div2 {
    display: grid;
    background: linear-gradient(to bottom, #4b24cb 0%, #4734ee 100%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    align-content: center;
    margin: auto;
}   

.p1 {
    color: #d4d4d4;
    font-family: hankenbold;
    margin: 22px;
}

.p2 {
    color: white;
    font-size: 315%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: hankenbold;
}

.p3 {
    color: #ababab;
    margin: 0px;
    font-size: 70%;
    margin-top: -5px;
}

.p4 {
    color: white;
    font-size: 135%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: hankenbold;
}

.p5 {
    color: #d4d4d4;
    width: 180px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    font-size: 80%;
}

@font-face {
    src: url("HankenGrotesk-Bold.ttf");
    font-family: hankenbold;
}

@font-face {
    src: url("HankenGrotesk-Medium.ttf");
    font-family: hanken;
}

@font-face {
    src: url("HankenGrotesk-ExtraBold.ttf");
    font-family: hankenextrabold;
}

.div3 {
    display: grid;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 60px rgb(192, 204, 226);
    font-family: hankenbold;
    grid-row: 1 / span 6;
    grid-column: 2 / span 4;

}

.p6 {
    display: grid;
    margin-left: 110px;
    margin-top: 20px;
    color: #172b47;
    margin-bottom: 15px;
}

.p7 {
    display: grid;
    color: #f88284;
    background-color: #fff5f5;
    height: 40px;
    border-radius: 8px;
    width: 250px;
    margin-left: 115px;  
    font-size: 80%;
}

.p8 {
    display: grid;
    color: #ffd000;
    background-color: #fffaeb;
    height: 40px;
    border-radius: 8px;
    width: 250px;
    margin-left: 115px;  
    font-size: 80%
}

.p9 {
    display: grid;
    color: #00d4a6;
    background-color: #effffd;
    height: 40px;
    border-radius: 8px;
    width: 250px;
    margin-left: 115px;  
    font-size: 80%
}

.p10 {
    display: grid;
    color: #0a37ff;
    background-color: #f1f4ff;
    height: 40px;
    border-radius: 8px;
    width: 250px;
    margin-left: 115px;  
    font-size: 80%;
    margin-bottom: 25px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    width: 800px;
    margin: auto;
    
}

.button {
    border: none;
    color: white;
    padding: 9px;
    text-align: center;
    font-size: 80%;
    text-decoration: none;
    display: inline-block;
    margin-left: 115px;  
    cursor: pointer;
    background-color: #172b47;
    border-radius: 50px;
    width: 250px;
    margin-bottom: 30px;
    transition-duration: 0.4s;
}

.button:hover {
    background: linear-gradient(to bottom, #6743ff 0%, #312cea 100%);
}
  